@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #AE68FF;
  --secondary: #D1E5F9;
  --accent: #90C0E2;
  --background: #0E0E19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Jost', sans-serif;
  min-height: 100vh;
  background-color: var(--background); 
  color: var(--secondary); 
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition-fast);
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
}