.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--secondary);
  background-color: transparent;
  position: relative;
  padding: 30px 110px;
}

.logo {
  width: 66px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.nav-list li {
  font-weight: inherit;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
}

.doc-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.doc-wrapper img {
  width: 22px;
}

.doc-wrapper a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.bottom-border {
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 1px;
  background: linear-gradient(to right, #ae68ff, white);
}